<form asp-controller="Home" asp-action="Download" method="get">
    <div class="form-group">
        <label>fileName</label>
        <input name="fileName" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Download</button>
</form>